

body, section {
  background-color: gold;
}


.footer {
  padding: 0.5rem 0.5rem 0.5rem;
}


img {
  width: 400px;
  height: 500px;
  justify-content: center;

}

#middle {
  width: 350px;
  height: 500px;
}

.title {
  text-align: justify;
}

.columns {
  justify-content: flex-end;
}


/* responsive video embed from bootstrap */
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive::before {
  display: block;
  content: "";
}


.animation {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


/* Standard syntax */
@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 400px;
    top: 0px;
  }
  50% {
    left: 800px;
    top: 0px;
  }
  75% {
    left: 1200px;
    top: 0px;
  }
  100% {
    left: 1700px;
    top: 0px;
  }


}
